.custom-context-menu {
  position: absolute;
  box-sizing: border-box;
  min-width: 200px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 2px lightgrey;
  border-radius: 15px;
  padding: 0px 5px;
}

.custom-context-menu-ul {
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.custom-context-menu-li {
  font-weight: 700;
  border-bottom: 1px solid rgba(138, 132, 132, 0.3);
  padding: 3px 5px;
  margin-top: 3px;
  cursor: pointer;
}

.custom-context-menu li:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}
