body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
p {
  margin: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

#directory-container {
  width: 90%;
  height: 100%;
  display: grid;
  /* 최대 100개의 row에 대해서 적용 */
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 80px;
}

#back {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* header */
.app-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80px;
  border-bottom: 2px solid #eee;
}

.header-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app-header span {
  margin-left: 10px;
}

.app-header img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.button-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

/* back button */
.back-button {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  width: 150px;
  align-items: center;
  padding: 5px 5px;
  margin-left: 20px;
  transition: all 0.3s;
}

.back-button:hover {
  background-color: rgba(133, 120, 120, 0.2);
}

.back-font {
  width: 95%;
}

.back-img-container {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

.back-img-container img {
  width: inherit;
  height: inherit;
}

/* directory layout & item style */
.directory-item {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  background-color: bisque;
  border-radius: 25px;
  border: 2px solid black;
}

.directory-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.file-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.file-image-container img {
  width: 100px;
  height: 100px;
}

.git-image-container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
}

.git-image-container img {
  width: inherit;
  height: inherit;
}

.git-status {
  position: absolute;
  top: -20px;
  left: 10px;
}

.git-status-text {
  font-weight: 700;
}

.committed {
  color: #26a250;
}

.modified {
  color: #f2ac34;
}

.staged {
  color: #429ebd;
}

.untracked {
  color: #cc2e05;
}

.ignored {
  color: orangered;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.directory-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

/* modal */
.git-status-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.open-modal {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  width: 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
  margin-right: 20px;
  transition: all 0.3s;
}

.open-modal:hover {
  background-color: rgba(133, 120, 120, 0.2);
}

.status-img-container {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

.status-img-container img {
  width: inherit;
  height: inherit;
}

.close-modal {
  position: absolute;
  top: 30px;
  left: 30px;
}

.close-modal img {
  width: 30px;
  height: 30px;
}

.modal.show {
  display: block;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 1000px;
  height: 400px;

  padding: 30px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-section {
  width: 20%;
  height: 80%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
}

.file-section h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.file-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.file-section li {
  margin-bottom: 5px;
}

.status-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

.status-item {
  width: 23%;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.untracked {
  border-color: #e57373;
}

.deleted {
  border-color: #3300cc;
}

.modified {
  border-color: #ffb74d;
}

.staged {
  border-color: #64b5f6;
}

.committed {
  border-color: #4caf50;
}

.status-item h4 {
  margin: 0;
  font-size: 16px;
}

.status-item ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.status-item ul li {
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.hidden {
  display: none;
}
