include head.pug
block body
    include header

    div#root
        div#directory-container
            each file in files
                div(class=`${file.type == "directory" ? "directory-item" : "directory-item disabled"}`)
                    //img 주소 및 크기 고정
                    div.file-image-container
                        if file.type == "directory"
                            img(src='/icons/folder.png')
                        else if file.type == "file"
                            img(src='/icons/documents.png')
                        else
                            img(src='/icons/prohibited.png')
                    p.directory-name=file.name
        button(id="back")
            img(src='/icons/return.png')

    script(src="/scripts/directory.js", defer)