include head.pug
block body
    div#root
        include header
        button.back-button(id="back")
            p.back-font="Go to previous"
            div.back-img-container
                img(src='/icons/return.png')
        div#directory-container    
            each file in files
                div(class=`${file.type == "directory" ? "directory-item" : file.status ? "directory-item" : "directory-item disabled"}`)
                    //img 주소 및 크기 고정
                    div.file-image-container
                        div.git-status
                            p(class=`git-status-text ${file.status}`)=file.status
                        if file.type == "directory"
                            if file.initialized
                                div.git-image-container
                                    img(src='/icons/git.png')
                                img(src='/icons/folder.png')
                            else
                                img(src='/icons/folder.png')
                        else if file.type == "file"
                            img(src='/icons/documents.png')
                        else
                            img(src='/icons/prohibited.png')
                    p.directory-name=file.name
    script(src="/scripts/directory.js", defer)

